@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,200&display=swap');

:root {
    --black: #333;
    --light-color: #cdaa7c;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

body {
	background-image: url(image/image_6.jpg);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 110vh;
	margin: -20px 0 50px;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--black);
    padding: 5px;
	height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    z-index: 10000;
}

header .logo img {
    height: auto;
    margin-right: 50px;
    max-height: 4.5rem;
}

header .navbar a {
	font-size: 17px; 
    padding: .3rem 1rem;
    color: var(--light-color);
    border: .1rem solid transparent;
}

header .navbar a.active,
header .navbar a:hover {
    color: #fff;
    border: .1rem solid rgba(205, 170, 124, 0.2);
}

header .icon i {
    cursor: pointer;
    margin-left: .5rem;
    height: 3.5rem;
    width: 3.5rem; 
    line-height: 3.5rem; 
    font-size: 1.5rem;
    background: var(--light-color);
    text-align: center;
    color: #fff;
}

header .icon i:hover {
    color: #fff;
    background: var(--light-color);
    transform: rotate(360deg);
}

header .icon #menu {
    display: none;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    color: black;
    border: .1rem solid rgba(205, 170, 124, 0.2);
    background: transparent;
    cursor: pointer;
	font-size: 1.5rem; 
    padding: .6rem 2.5rem;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
	margin-bottom: 5px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
    border-radius: 20px;
	border: 1px solid #10c166;
	background-color: #10c166;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	cursor: pointer;
	margin-top: 10px;
}


button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	position: relative;
	background: rgb(207,187,100);
    background: linear-gradient(0deg, rgba(207,187,100,1) 0%, rgba(201,200,129,1) 100%);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

select {
    background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}


.container {
	background-color: transparent;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 1000px;
	height: 1500px;
	padding-bottom: 0%;
	max-width: 100%;
	min-height: 700px;
	margin-top: 180px;
}

.form-container {
	background-color: transparent;
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	margin-top: 5px;
	position: relative;
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: transparent;
	background: -webkit-linear-gradient(to right, #262969, #8692c4);
	background: linear-gradient(to right,  #262969, #8692c4, #262969);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}
@media (max-width: 568px) {
    header .logo img {
        height: 7rem;
    }
  
    header .icon #menu {
        display: inline-block;
    }
  
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: 1rem solid rgba(205, 170, 124, 0.2);
        border-bottom: 1rem solid rgba(205, 170, 124, 0.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
  
    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  
    header .navbar a {
        display: block;
        font-size: 1.8rem; 
        padding: 1rem; 
        margin: 1rem;
        background: var(--black);
    }
}  

